*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background: url("../imagenes/0001.jpg") no-repeat center;
    font-family: 'open sans';

}

.contenedor{
    width: 70%;
    max-width:800px;
    margin: auto;
    height:3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tabla{
    width: 33%;
    height: 405px;
    margin: auto;
    border:1px solid #343759;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px  #343759;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    color: #343759;
}

.tabla>h2{
    font-size:30px;
    margin-bottom:10px;
}

.tabla img{
    width: 40px;
    margin-bottom:35px;

}

.tabla > h1{
    font-size:30px;
    margin-bottom: 2px;
}

.tabla > p{
    display: block;
    margin-bottom:10px;
}

.tabla:hover{
    background: #343759;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 10px){
    .tabla{
        width: 15%;
        max-width:none;
        margin-bottom: 10px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 100px){
    .tabla{
        width: 45%;
        padding:30px;
    }
    .tabla > h2{
        margin-top:40px;
    }
}

@media screen and (max-width:100px){
    .tabla{
        width: 15%;
        padding: 20px;
    }
}